includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - routes
        - tests
        - config
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
